body
  font-size 14px
  margin 0px
  line-height 19px
  font-family 'Roboto', helvetica, arial, sans-serif
  *,
  *:before,
  *:after
    box-sizing border-box
  a
    color ColorLink
    text-decoration underline
    &:active
    &:focus
      text-decoration none
  .leaflet-control-zoom a
    text-decoration none
    color #333
  .leaflet-control-attribution a
    color #003366

  .fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10

    div
      margin 270px 40px 0px 40px
      text-align center
      padding 20px 10px
      border 1px dotted #aaa

  #mapa
    position relative
    width 100%
    height 610px
    
    #map
      position absolute
      top 0px
      width 100%
      height 600px
      max-height:75vh

    #info
      float: right
      max-width 250px
      min-width: 100px
      width: auto
      height auto
      position relative
      margin-right 50px
      top 10px
      z-index 5
      background-color white
      -moz-box-shadow 0 0 3px #ccc
      -webkit-box-shadow 0 0 3px #ccc
      box-shadow 0 0 3px #ccc
      border-radius 5px
      padding 5px
